.pd-2 {
  padding: 2%; }

.pd-5 {
  padding: 5%; }

.logo {
  width: 20%;
  height: auto; }

.bg-white {
  background-color: #FFFFFF; }

hr.bk {
  padding-left: 3%;
  margin-left: 3%;
  width: 10%;
  position: absolute;
  left: 0;
  border: 2px solid black; }

.col-md-7 div {
  box-sizing: content-box;
  padding: 1%;
  opacity: 0.8;
  margin: 5% 0 15% 0; }
  .col-md-7 div img {
    float: left;
    padding-right: 1%;
    opacity: 0.5; }
  .col-md-7 div p {
    float: left;
    width: 87%; }

#part2 {
  padding: 0; }
  #part2 div.op {
    background-color: rgba(0, 0, 0, 0.5); }
  #part2 div.col-md-6 hr.wh {
    padding-left: 3%;
    margin-left: 3%;
    width: 10%;
    position: absolute;
    left: 0;
    border: 2px solid white; }

#part3 div.col-md-3 h5 {
  font-weight: bold; }
#part3 div.col-md-3 small {
  opacity: 0.5; }
#part3 div.col-md-3 img {
  width: 100%; }

#part4 {
  position: relative; }
  #part4 img {
    opacity: 0.3; }
  #part4 .col-md-3 {
    background-color: #f0f0f1;
    border: 10px solid white; }
    #part4 .col-md-3 h3 {
      margin-top: 0;
      font-weight: bold; }
      #part4 .col-md-3 h3 span {
        font-size: 200%;
        font-style: italic; }
    #part4 .col-md-3 div.black {
      width: 100%;
      padding: 2%;
      margin: 0;
      position: absolute;
      left: 0;
      color: white;
      background-color: #222222; }
  #part4 .col-md-6 {
    border-top: 2px solid #cecece;
    border-left: 2px solid #cecece;
    box-sizing: border-box;
    padding: 3%; }
  #part4 .col-md-6:first-child {
    border-left: none; }

#part5 input {
  margin-bottom: 2%; }
#part5 textarea {
  margin-bottom: 4%; }
#part5 .btn-blue {
  color: #fff;
  background-color: #444444;
  border-color: #ccc; }

body .container-fluid {
  padding: 0; }

* {
  font-family: 'Raleway', sans-serif; }

/*parallax*/
html {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito; }

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
  transform-style: inherit; }

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7); }

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto; }

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0; }

.slide, .slide:before {
  background: 50% 50% / cover; }

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000; }

#title {
  background-image: url(../images/back-lock.jpg);
  background-attachment: fixed; }

#part1:before {
  background-color: white;
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#part2 {
  width: 100%;
  background-image: url(../images/bg3.jpg);
  background-repeat: repeat;
  background-attachment: fixed; }

#part3:before {
  background-color: white;
  transform: translateZ(-1px) scale(2);
  z-index: -1; }

#part4 {
  background: #fff; }

/*# sourceMappingURL=main.css.map */
